{% for book in books %}
    <input type="hidden" name="book_order" value="{{ book.pk }}" />
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a hx-get="{% url 'detail' book.pk %}"
           hx-target="#book-list"
           hx-push-url="/books/{{ book.book.name }}"
           style="cursor: pointer">
            #{{ book.order }} {{ book.book.name }}
        </a>
        <span style="cursor: pointer; color: red;"
              hx-delete="{% url 'delete-book' book.pk %}"
              hx-target="#book-list"
              hx-confirm="Are you sure you want to delete?">X</span>
    </li>
{% endfor %}