{% load widget_tweaks %}

{% block content %}
{% with WIDGET_ERROR_CLASS='is_invalid' %}

    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{ user_book.book.title }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Author: {{ user_book.book.author }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>

{% endwith %}
{% endblock content %}