<div class="d-flex justify-content-between align-items-top">
    <div>
        <h2 class="text-success mb-4">{{ userbook.book.name }}</h2>

        <p>This book is #{{ userbook.order }} in {{ userbook.user.username|title }}'s list</p>

        <button class="btn btn-primary"
                hx-get="{% url 'book-list-partial' %}"
                hx-target="#book-list"
                hx-push-url="/books">Your List</button>
    </div>

    <div>
        {% if userbook.book.cover %}
            <img src="{{ userbook.book.cover.url }}" style="max-width: 200px; max-height: 200px;" />
        {% else %}
            <p>No cover :(</p>
        {% endif %}

        <form hx-encoding="multipart/form-data" hx-post="{% url 'upload-cover' userbook.pk %}" hx-target="#book-list">
            {% csrf_token %}
            <div class="form-group">
                <input type="file" name="cover" />
            </div>

            <button class="btn btn-success" type="submit">Upload File</button>
        </form>
    </div>
</div>