<nav class="navbar navbar-expand-sm mb-4 px-4">
    <div class="container-fluid">
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'current_books' %}">Book Tracker</a>
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="{% url 'current_books' %}">Your Books</a>
                <a class="nav-link" href="{% url 'completed_books' %}">Completed Books</a>
                <a class="nav-link disabled" href="{% url 'book_add' %}">Add Book</a>
            </div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="d-flex nav-link btn-danger py-0 align-items-center align-self-center" type="submit">Logout</button>
            </form>
        {% else %}
            <a class="navbar-brand" href="{% url 'login' %}">Book Tracker</a>
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
                <a class="d-flex nav-link btn-success py-0 align-items-center align-self-center" href="{% url 'login' %}">Sign In</a>
            </div>
        {% endif %}
    </div>
</nav>