{% extends 'base.html' %}
{% load possessive %}

{% block content %}
    <div class="page-header text-center col-8 offset-2 mb-4">
        {{ request.user.username|possessive|title }} Completed Books
    </div>

    <div class="row justify-content-between">
        <div id="completed-books" class="d-flex col-9 flex-column">
            {% include 'partials/finished-books.html' %}
        </div>
        <div id="book-filters" class="d-flex col-3 flex-column">
            {% include 'partials/book-filters.html' %}
        </div>
    </div>

{% endblock content %}