{% extends 'base.html' %}
{% load possessive %}

{% block content %}

    <div class="page-header text-center col-8 offset-2 mb-4">
        {{ request.user.username|possessive|title }} Books
    </div>

    <div class="row justify-content-between text-center">
        <div id="to-read-list" class="col-6">
            {% include 'partials/to-read-list.html' %}
        </div>

        <div id="in-progress-list" class="col-6">
            {% include 'partials/in-progress-list.html' %}
        </div>
    </div>

{% endblock content %}