{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    {% include 'partials/welcome.html' %}

    <div class="login-form">
        <div class="login-form-header">Login</div>
        <form method="POST" action="{% url 'login' %}" autocomplete="off">
            {% csrf_token %}

            <div class="form-entry-container">
                {{ form.username.errors }}
                {% render_field form.username placeholder="Username" %}
            </div>
            <div class="form-entry-container">
                {{ field.password.errors }}
                {% render_field form.password placeholder="Password" %}
            </div>

            <button class="small-button green-button form-entry-submit" type="submit">Login</button>
        </form>
    </div>

{% endblock content %}