{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    {% include 'partials/welcome.html' %}

    <div class="login-form">
        <div class="login-form-header">Register</div>
        <form method="POST" action="{% url 'register' %}" autocomplete="off">
            {% csrf_token %}

            <div class="form-entry-container" style="gap: 5px">
                {{ form.username.errors }}
                {% render_field form.username placeholder="Username" hx-post="/check_username/" hx-swap="outerhtml" hx-trigger="keyup delay:1.5s" hx-target="#username-error" %}
                <div id="username-error"></div>
            </div>
            <div class="form-entry-container">
                {{ form.password1.errors }}
                {% render_field form.password1 placeholder="Enter a Password" %}
            </div>
            <div class="form-entry-container">
                {{ form.password2.errors }}
                {% render_field form.password2 placeholder="Confirm Password" %}
            </div>

            <button class="small-button green-button form-entry-submit" type="submit">Register</button>
        </form>
    </div>

{% endblock content %}